<div>
  <p>Welcome to FLAX interactive language learning on mobile devices.</p>
  <p>FLAX is an open source system that we have developed for teaching and learning a second language. It includes several language games.
  </p>
  <p> For more information please visit http://flax.nzdl.org/greenstone3/flax</p>
  <!-- <div>
    For more information visit 
    <a href="#" onclick="window.open('http://flax.nzdl.org/greenstone3/flax','_blank','location=yes'); return false;">Flax Website</a>
  </div> -->
  <p>
    In Related Words, your goal is to match the given words with their related words. Drag and drop the given words to make a match!
  </p>
</div>