<!--
  This template loads for the 'exercise' state (app.js)
  draggableObjects & dropped are $scope variables created in the ExerciseCtrl controller (controllers.js)
  The ExerciseCtrl pulls data from the Exercise service (service.js)
  The Exercise service returns a json promise of exercise data
-->
<ion-view view-title="{{title}}">
  <ion-nav-buttons side="right">
      <button class="button button-icon ion-more" ng-click="openPopover($event)">
      </button>
  </ion-nav-buttons>
  <ion-content scroll="false">

        <div class="draggables">
          <div class="row" ng-repeat="val in drags" ng-switch on="$index % 2">
            <div class="col drags" ng-switch-when="0" ng-drag="!isAllConsumed($index)" ng-drag-data="drags[$index].word" data-allow-transform="true" ng-drag-success="dragSuccess($data,$event,$index)" press-timeout="0" ng-if="drags[$index]">
              <div ng-class="{dragged:isAllConsumed($index)}">{{drags[$index].word}} ({{drags[$index].remaining}})</div>
            </div>
            <div class="col drags" ng-switch-when="0" ng-drag="!isAllConsumed($index+1)" ng-drag-data="drags[$index+1].word" data-allow-transform="true" ng-drag-success="dragSuccess($data,$event,$index+1)" press-timeout="0" ng-if="drags[$index+1]">
              <div ng-class="{dragged:isAllConsumed($index+1)}">{{drags[$index+1].word}} ({{drags[$index+1].remaining}})</div>
            </div>
          </div>
        </div>
        <ion-content class="has-header has-footer" ng-style="{'margin-top':(drags.length/2)*20+'px'}">
          <div ng-repeat="word in words track by $index" ng-init="wordId = word.id">
            <div class="row">

              <div class="fixed-value col" ng-show="word.isCorrect">
                  {{word.left}} {{word.right}}
              </div>

              <div class="fixed-value col" ng-show="!word.isCorrect && word.isMainRight">
                  {{word.left}}
              </div>

              <div ng-show="!word.isCorrect" ng-drop="true" ng-drop-success="onDropComplete($data,$event,wordId)" class="col">

                <div ng-drag="true" ng-drag-data="word.drop" ng-drag-success="onDragSuccess($data,$event,wordId)" 
                  ng-center-anchor="{{centerAnchor}}">
                  {{word.drop}}
                </div>

              </div>

              <div class="fixed-value col" ng-show="!word.isCorrect && !word.isMainRight">
                  {{word.right}}
              </div>
            </div>

          </div>
        </ion-content>
        <div class="bar bar-footer" ng-hide="hide">
          <div class="title check-button" ng-click="checkAnswer()">
            Check Answer
          </div>
        </div>
  </ion-content>
</ion-view>