<div>
<p>Welcome to Related words!</p>
<p>
n Related Words, you are given a list of partial phrases. Your goal is to match the partial phrases with their related words. A selection of words are supplied at the top of the screen.\n\nIt is possible for some words in this exercise to collocate with more than one word. This exercise is looking for the strongest collocational matches to show which phrases are used more frequently in everyday language.
</p>
<p>
Drag and drop the given words to complete the partial phrases.
</p>
</div>
