/*
*=== POPOVERS ===
*/
.pop-image{
  padding-left: 50px;
  background-repeat: no-repeat;
  background-attachment: relative;
  /*"fixed" value in this property causes image not to display in iOS and browser, but it works in android*/
  background-position: left center;
  background-size: 40px 40px;
}
.popover {
  height: auto !important;
}
.popover ion-header-bar {
  position: relative;
}
.popover ion-content {
  top: 0;
  position: relative;
}
.popover-inner-content {
  width: 100%;
  padding: 5px 20px;
}
popover-style{
    max-height: 120px;
    border: 1px solid red;
    /*position: relative;
    height: auto;
    min-height: 100% !important;*/
}

/*
*=== DRAGGABLES ===
*/
.dragged{
  color:grey;
  text-decoration: line-through;
  cursor: default;
}
[ng-drag]{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.draggables {
  display: block;
  background: rgba(210,210,210,0.5);
  /*padding:4px;*/
  width: 100%;
  border-bottom: 2px solid #3F9200;

}
/*.draggables::after{
  display: block;
  content: "";
  clear: both;
}*/
[ng-drag]{
    /*background: rgba(255,0,0, 0.5);*/
    /*border: solid 1px black;*/
    color:black;
    text-align: center;
    font-size: 12px;
    /*padding: 10px;*/
    width: inherit;
    display: block;
    cursor: move;
}
.fixed-value {
    background: rgba(128,128,128, 0.5);
    border: solid 1px black;
    color:black;
    text-align: center;
    font-size: 12px;
    /*padding: 10px;*/
    display: block;
    position: relative;
}
[ng-drop]{
    /*background: rgba(0,255,0, 0.5);*/
    border: solid 1px black;
    text-align: center;
    /*padding:10px;*/
    display: block;
    margin:0 0px;
    position: relative;
}

[ng-drag].drag-over{
    /*color:red;*/
    font-size: 16px;
}
[ng-drag].dragging{
    opacity: 0.5;
    border: none;
}
[ng-drop].drag-enter{
    background-color: #6E9A74;
}
[ng-drop] span.title{
    /*display: block;
    position: absolute;
    border-style: solid;
    top:50%;
    left:50%;
    width: 200px;
    height: 20px;
    margin-left: -100px;
    margin-top: -10px;*/
}
[ng-drop] div{
    position: relative;
    z-index: 2;
}
/*
*-- Unused Drag Styling --
*/
ul.draggable-objects:after{
    /*display: block;
    content:"";
    clear:both;*/
}
.draggable-objects li{
  display: table-cell;
  margin:0px;
  width:auto;
}
ul{
  width:100%;
  display: table;
  /*justify-content: center;
  list-style: none;*/
}
li{
  /*display: table-cell;
  margin:0px;
  width:auto;*/
  /*padding: 10px;*/
}

/*
*=== NAVBAR AND HEADER BARS ===
*/
.navbar{
  background-color: #B8EBBF  !important; /*#B8EBBF,A0CCA6,76967A,3F9200,AEAEB5*/
  border-bottom: 2px solid #3F9200 !important;
  border-top: 1px solid #3F9200 !important;
}
.navbar-title {
  /*background-repeat: no-repeat;*/
  /*background-position: 50%;*/
  position: absolute;
  left:0px;

  /* For all other devices, use following two lines */
  height: 100%;
  top:0px;

  /* For iPhone, use following two lines */
  /*height: 70%;*/
  /*bottom: 0px;*/
}
.bar-subheader{
  background-color: #AEAEB5 !important;
  border-bottom: 2px solid #3F9200 !important;
  border-top: 1px solid #3F9200 !important;
}
.bar-footer{
  /*margin-bottom: 40px;*/
  width:100%;
  border-bottom: 2px solid #3F9200 !important;
  background-color: #A0CCA6;
}
.bar .button.back-button{
  align-self: center;
}

/*
*=== IONIC POPUP ===
*/
.popup{
  /*background-color: #AEAEB5 !important;*/
  width:90% !important;
}
.popup-head{
  background-color: #B8EBBF  !important;
  background-image: url('../img/header_icon.png') !important;
  background-repeat: no-repeat !important;
  background-attachment: relative !important;
  /*"fixed" value in this property causes image not to display in iOS and browser, but it works in android*/
  background-position: left center !important;
  background-size: 50px 50px;
  border-bottom: 2px solid #3F9200 !important;
}
.popup-title {
  /*color: black !important;*/
}
.popup-sub-title{
}
.popup-body {
  background-color: white !important;
  padding: 10px 10px !important;
  text-align: justify; 
}
.popup-buttons {
  background-color: #A0CCA6 !important;
}
.popup-buttons .button{
  /*font-style: oblique; !important;*/
  border-color: #3F9200;
  background-color: #82AE88;
  /*color: red;*/
}
.popup-buttons .button.activated{
  background-color: #6E9A74;
}
/*
.popup-buttons .button-positive{
  font-style: italic !important;
  margin-left: 0px !important;
  border-radius: 0px !important;
}
.popup-buttons .button-default{
  font-style: italic !important;
  margin-right: 0px !important;
  border-radius: 0px !important;
}*/

/* 
*=== SUMMARY TABLES ===
*/
.summary-table th{
  text-align: left;
  border: none;
  background-color: white;
}
.summary-table{
  width:100%;
  border: none;
}
/*
*-- Default Tables --
*/
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

/*
*=== OTHER IMPORTANT ===
*/
.check-button{
  cursor:pointer;
  font-style: normal;
}
.bar.bar-footer{
  border-top: solid 2px #3F9200;
}
.my-back-button{
  content: url('../img/back-image.jpg');
  width:55px;
}
.text{
    font-size:12px;
    word-break: keep-all;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens:auto;
    -ms-hyphens:auto;
    hyphens: auto;
}
.row {
    display: flex; /* equal height of the children */
    flex-wrap: wrap;
    align-content: center;
    -webkit-align-content:center;
}
.col{
    flex: 1; /* additionally, equal width */
    /*padding: 1em;
    border: solid;
    align-content: center;*/
}
p,h2{
    margin: 10px;
}
.div-button{
    cursor: pointer;
}
*{
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}